#h1{height: 10px; font-size: 40px;  margin-top: 10px; margin-left: 30px; font-family: Mistral; color: #FFD700;  }
#btn{ margin-top: 16px;font-size: 20px; font-family: ;  float: right; margin-right: 20px; height: 40px; width: 150px; background-color: white;border: 0px; border-radius: 5px; }
#btnn{ margin-top: 16px;font-size: 20px; font-family: ;  float: right; margin-right: 20px; height: 40px; width: 150px; background-color: white;border: 0px; border-radius: 5px; padding-left: 10px;}
#h2{  font-family: High Tower Text; margin-top: 20px; margin-left: 20px; }
#locat{margin-top: -40px; color: gray;font-family: Mistral; margin-left: 50px;}
#p{ margin-left: 60px; margin-top: -50px; font-family:High Tower Text;}
.fa-map-marker-alt{ top: -30px;left: 40px; position: relative; }
.fa-user-circle{padding-top: 10px;margin-right: 5px;}
.head1{ box-shadow: 0px -4px 13px 4px #afafaf;  }

.flex-container{
	display: flex;
	margin-top: 10px;
	flex-wrap: wrap;
	justify-content: space-between;
	
}
.foodblock{
	height:170px;
	width: 550px;
	border: .5px solid lightgray;
	margin-top: 80px;
	clear: both;	

}
.content{
	padding-top: 10px;
	font-family: High Tower Text;
	color: gray;
	float: right;
	padding-left: 10px;
	width: 340px;
}
.content h3{
	color: #575555;
}
.content h5{
	font-size: 30px;
}

img{
	clear: both; 
	height: 166px;
	width: 200px;
	}
.btnn{
	color: green;
	background-color: white;
	border: 1px solid green;
	border-radius: 10px;
	font-weight: bold;
	float: right;
	margin-right: 10px;
	width: 80px;
	color: green;
}
.btnn:hover{
	background-color: green;
	color:white;
}
.fa-plus{
	font-size: 10px;
	padding-left: 10px;
	
}

/*-------Tost css------
#toast{
	min-width: 300px;
	position: fixed;
	bottom: 30px;
	left: 50%;
	margin-left: -120px;
	background: #333;
	padding: 15px;
	color: white;
	text-align: center;
	z-index: 1px;
	font-size: 18px;
	visibility: hidden;
	box-shadow: 0px 0px 100px #000;
}
#toast.display{
	visibility: visible;
	animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
}

@keyframes fadeIn{
	from{
		bottom: 0;
		opacity: 0;
	}
	to{
		bottom: 30px;
		opacity: 1;
	}
}

@keyframes fadeOut{
	from{
		bottom: 30px;
		opacity: 1;
	}
	to{
		bottom: 0;
		opacity: 0;
	}

} 

#hide{
	visibility: hidden;
}
.imgcart{
	height: 80px;
	width: 80px;
}*/


