h1{font-family: centuary; color: #FFD700;margin-left: 140px;margin-top: 30px;	 font-size: 40px;  /*text-shadow: 0 0 3px black;*/ }
		
body { 
	height: 100%;
		/*background-image: linear-gradient(90deg,#fa709a,#fee140);
		background-size: cover;*/
		background-image: url("../image/bgg1.png");	
		background-size: cover;
		background-repeat: no-repeat;
		
	}


.bodybox{ height: 510px; width: 370px; background-color: white; margin-top: 65px;   }




		hr{ width: 119px; background-color: #FFD700; margin-left: 202px;margin-top: -11px; }
#hr{float: left; margin-top: 13px; margin-left:64px; }

.use{ font-size: 11px; margin-left: 6px;margin-top: -10px;color: gray; }


input[type=email]{ margin-top: 30px; color: green; border-radius: 30px; font-family:centuary; width: 280px; margin-left: 50px; }
input[type=email]:hover{ transition: 1.6s; box-shadow: 0px 0px  30px .5px lightblue;}
input[type=password]:hover{transition: 1.6s;box-shadow: 0px 0px  30px .5px lightblue;}
input[type=password]{ margin-top: 10px; color: green; border-radius: 30px; font-family:centuary; width: 280px; margin-left: 50px;}

/*.box{  height: 220px;width: 80px;background-color: ; margin-left: 10px; margin-top: 90px; border-radius: 300px; border : 1px solid gray;box-shadow: 0px 0px  40px 1px gray;
	 background-image: linear-gradient(120deg, orange,white, yellow);
}*/
.user{  font-size: 100px; margin-left: 50px;color: cornflowerblue;	 }
h6{font-size: 17px; margin-left: 18px; margin-top: -24px;} 
.btnn{ width: 260px;margin-top: 28px; margin-left:59px; border-radius: 34px; background-color: #fa709a;}
.btnn:hover{  background-image: linear-gradient(120deg,#a1c4fd,#c2e9fb); }
p{ margin-top: 25px; margin-left: 149px; color: lightgray; }
.btn1{height: 34px; width: 140px; border: 1px solid lightgray; margin-left: 32px; margin-top: 15px; border-radius: 4px; background-color: white; font-family:centuary;}
.btn2{height: 34px; width: 140px; border: 1px solid lightgray; margin-left: 20px; margin-top: 15px; border-radius: 4px;  background-color: white; font-family:centuary;}
span{margin-top: 0px; margin-left: -86px; clear: both; }
.fa-facebook-square{color: blue;}
.fa-google{ background: -webkit-linear-gradient(-80deg, red,yellow,green,blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}
  h4{font-size: 13px; margin-top: 50px; margin-left: 95px;  color: gray;}